<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Application Settings -->
  <configSections>
  </configSections>
  <appSettings>
    <!-- Adyen Configuration -->
    <add key="adyen.merchantAccount" value="Goycoolea"/>
    <add key="adyen.shopperIP" value="178.255.199.27"/>
    <add key="adyen.user" value="ws@Company.Goycoolea"/>
    <add key="adyen.pwd" value="Goycoolea1234$"/>
  </appSettings>

    <applicationSettings>
        <cl.maia.core.payments.Properties.Settings>
            <setting name="cl_maia_core_payments_AdyenSandbox_Payment" serializeAs="String">
                <value>https://pal-test.adyen.com/pal/servlet/soap/Payment</value>
            </setting>
        </cl.maia.core.payments.Properties.Settings>
    </applicationSettings>
</configuration>