<?xml version="1.0"?>
<!--
/*
 Disclaimer: IMPORTANT:  This Goycoolea software is supplied to you by Goycoolea 
 Inc. ("Goycoolea") in consideration of your agreement to the following 
 terms, and your use, installation, modification or redistribution of 
 this Goycoolea software constitutes acceptance of these terms.  If you do 
 not agree with these terms, please do not use, install, modify or 
 redistribute this Goycoolea software. 
  
 In consideration of your agreement to abide by the following terms, and 
 subject to these terms, Goycoolea grants you a personal, non-exclusive 
 license, under Goycoolea's copyrights in this original Goycoolea software (the 
 "Goycoolea Software"), to use, reproduce, modify and redistribute the Goycoolea 
 Software, with or without modifications, in source and/or binary forms; 
 provided that if you redistribute the Goycoolea Software in its entirety and 
 without modifications, you must retain this notice and the following 
 text and disclaimers in all such redistributions of the Goycoolea Software. 
 Neither the name, trademarks, service marks or logos of Goycoolea Inc. may 
 be used to endorse or promote products derived from the Goycoolea Software 
 without specific prior written permission from Goycoolea.  Except as 
 expressly stated in this notice, no other rights or licenses, express or 
 implied, are granted by Goycoolea herein, including but not limited to any 
 patent rights that may be infringed by your derivative works or by other 
 works in which the Goycoolea Software may be incorporated. 
  
 The Goycoolea Software is provided by Goycoolea on an "AS IS" basis.  Goycoolea 
 MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION 
 THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS 
 FOR A PARTICULAR PURPOSE, REGARDING THE Goycoolea SOFTWARE OR ITS USE AND 
 OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS. 
  
 IN NO EVENT SHALL Goycoolea BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL 
 OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
 INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION, 
 MODIFICATION AND/OR DISTRIBUTION OF THE Goycoolea SOFTWARE, HOWEVER CAUSED 
 AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE), 
 STRICT LIABILITY OR OTHERWISE, EVEN IF Goycoolea HAS BEEN ADVISED OF THE 
 POSSIBILITY OF SUCH DAMAGE. 
  
 Copyright (C) 2012 Goycoolea Inc. All Rights Reserved. 
 */
  -->
<configuration>
  <!-- Sections for Configurations -->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <!-- AppSettings for the Web.Config -->
  <appSettings>
    <!-- RSA Crypto Bitstring -->
    <add key="rsa.crypto.bitStrength" value="2048"/>
  </appSettings>
  <!-- Connection String -->
  <connectionStrings>
    <!-- Connection string for some Database -->
    <add name="DataAccess" providerName="System.Data.SqlClient" connectionString="Data Source=ATLAS\ATLAS;Initial Catalog=insitu;User ID=tauri-sql ;Password=Insitu1234$"/>
  </connectionStrings>
  <!-- System.web -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <!-- Tag to Allow the Connection to the Services -->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- Unity Configuration for the Framework -->
  <unity>
    <containers>
      <container name="dataContainer">
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common"/>
          <add type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.Unity.DataAccessBlockExtension, Microsoft.Practices.EnterpriseLibrary.Data"/>
        </extensions>
      </container>
    </containers>
  </unity>
  <!-- Atlas Default Database -->
  <dataConfiguration defaultDatabase="CloudDataAccess"/>
  <!-- Service Model -->
  <system.serviceModel>
    <!--Bindings-->
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="None"/>
        </binding>
        <binding name="basicBindingExtendMessageConfiguration" maxBufferSize="5000000" maxReceivedMessageSize="50000000"/>
        <binding name="streamingFileUpload" maxBufferSize="52428800" maxReceivedMessageSize="157286400" transferMode="Streamed">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2000000" maxArrayLength="2000000" maxBytesPerRead="2000000" maxNameTableCharCount="2000000"/>
        </binding>
        <binding name="streamingFileDownload" maxBufferSize="52428800" maxReceivedMessageSize="15728640000" transferMode="Streamed"/>
      </basicHttpBinding>
    </bindings>
    <!-- Client -->
    <client/>
    <!-- Behaviors for the WCF Services -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
        <!-- Behaviors of RIA for the WCF -->
        <behavior name="RIAServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Services for the WCF Hosting-->
    <services>
      <!--  Service Concentrator -->
      <service name="insitu.services.open.SatelliteService" behaviorConfiguration="RIAServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="insitu.contracts.open.ISatelliteContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>